<header>
  <h1>Nature of Code Sketches</h1>
  <p>A selection of <a href="https://github.com/edwardloveall/nature-of-code-skectches" target="_blank">sketces</a> created while reading <a href="http://natureofcode.com/" target="_blank">The Nature of Code</a></p>
</header>